<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="mapper.acountChangeInfo">
  <!--조회  -->
  <select id="selectOne" resultType="AccountChangePasswordVO">
  	select * from account where account_id = #{accountId}
  </select>
  
  <update id="changePassword">
  		update account
  		set account_password =#{accountPassword},
  			account_change = systimestamp
  		where account_id=#{accountId}
  </update>
  
  
  </mapper>