<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.cart">
	<insert id="add">
	
		insert into cart (cart_owner, cart_item, cart_qty)
		values(#{cartOwner},#{cartItem},#{cartQty})
	
	</insert>
	
	<update id="change">
	
		update cart 
		set cart_qty = #{cartQty}
		where cart_owner = #{cartOwner}
				and
				cart_item = #{cartItem}
	
	</update>
	
	<delete id="delete">
	
		delete cart where cart_owner=#{cartOwner} and cart_item=#{cartItem}
	
	</delete>
	
	<select id="find" resultType="CartDto">
	
		
		select * from cart
		where cart_owner = #{cartOwner}
				and
				cart_item = #{cartItem}
	
	</select>
	
	<!-- 양식을 수동 작성 -->
	<resultMap type="CartItemVO" id="CustomCartItemVO">
		<result column="sale_no" property="no"/>
		<result column="sale_name" property="name"/>
		<result column="sale_category" property="category"/>
		<result column="sale_original_price" property="origin"/>
		<result column="sale_discount_price" property="discount"/>
		<result column="sale_reg_time" property="time"/>
		<result column="cart_qty" property="qty"/>
		<result column="attach_no" property="thumbnail"/>
	
	
	</resultMap>
	
	
	<!-- 고객이 볼 장바구니 상품 목록 -->
	<select id="list" resultMap="CustomCartItemVO">
		select 
		
		S.sale_no,
		S.sale_name,
		S.sale_category,
		S.sale_original_price,
		S.sale_discount_price,
		S.sale_reg_time,
		C.cart_qty,
		ST.attach_no
		
		from cart C 
		
		inner join sale S on C.cart_item = S.sale_no
		left outer join sale_thumbnail ST on S.sale_no = ST.sale_no
		
		where C.cart_owner = #{cartOwner}
		
		order by cart_item asc
	</select>
	
	
	<delete id="deleteItems">
	
	
		delete cart
		where cart_owner = #{cartOwner}
				and
				cart_item in (
				
			<foreach item="number" collection="list" separator=",">
					#{number}
			</foreach>
		)
	</delete>
	
	
	
	
	
	
</mapper>