<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.sale">
	
	<!-- 상품 기본 정보 등록 -->
	<select id="sequence" resultType="int">
		select sale_seq.nextval from dual
	</select>
	<insert id="add">
		insert into sale(
			sale_no, sale_name, sale_category,
			sale_original_price, sale_discount_price,
			sale_content, sale_stock
		)
		values(
			#{saleNo}, #{saleName}, #{saleCategory},
			#{saleOriginalPrice}, #{saleDiscountPrice},
			#{saleContent}, #{saleStock}
		)
	</insert>	
	
	<select id="find" resultType="SaleDto">
		select * from sale where sale_no = #{saleNo}
	</select>
	
	<!-- 썸네일 연결 -->
	<insert id="connect">
		insert into sale_thumbnail (sale_no, attach_no)
		values( #{saleNo} , #{attachNo} )
	</insert>
	<!-- 상세이미지 연결 -->
	<insert id="connectDetailImages">
		insert into sale_information (sale_no, attach_no)
		values( #{saleNo} , #{attachNo} )
	</insert>
	
	<!-- 고객이 볼 상품목록 -->
	<select id="list" resultType="SaleListItemVO">
		select 
			S.sale_no, S.sale_name, S.sale_category, 
			S.sale_original_price, S.sale_discount_price,
			T.attach_no
		from sale S
			left outer join sale_thumbnail T on S.sale_no = T.sale_no
		<where>
			<if test="saleCategory != null">
				and S.sale_category = #{saleCategory}
			</if>
		</where>
		order by sale_no desc
	</select>
	
	<!-- 썸네일 찾기 -->
	<select id="findAttach" resultType="Integer">
		select attach_no from sale_thumbnail
		where sale_no = #{saleNo}
	</select>
	
	<!-- 상세이미지 찾기 -->
	<select id="findDetails" resultType="Integer">
		select attach_no from sale_information
		where sale_no = #{saleNo}
		order by attach_no asc
	</select>
	
	<!-- 삭제 -->
	<delete id="delete">
		delete sale where sale_no = #{saleNo}
	</delete>
	
	<!-- 수정 -->
	<update id="update">
		update sale
		set 	sale_name = #{saleName},
				sale_category = #{saleCategory},
				sale_original_price = #{saleOriginalPrice},
				sale_discount_price = #{saleDiscountPrice},
				sale_content = #{saleContent},
				sale_stock = #{saleStock}
		where 	sale_no = #{saleNo}
	</update>
	
	<!-- 지정한 번호들에 대한 상품 정보 조회 (+썸네일) -->
	<select id="findOrders" resultType="SaleListItemVO">
		select 
			S.sale_no, S.sale_name, S.sale_category, 
			S.sale_original_price, S.sale_discount_price,
			T.attach_no
		from sale S
			left outer join sale_thumbnail T on S.sale_no = T.sale_no
		where S.sale_no in (
			<foreach item="saleNo" collection="list" separator=",">
				#{saleNo}
			</foreach>
		)
		order by S.sale_no asc
	</select>
	<select id="findOrder" resultType="SaleListItemVO">
		select 
			S.sale_no, S.sale_name, S.sale_category, 
			S.sale_original_price, S.sale_discount_price,
			T.attach_no
		from sale S
			left outer join sale_thumbnail T on S.sale_no = T.sale_no
		where S.sale_no = #{saleNo}
	</select>
</mapper>









